# Setup

In [ ]:
!pip install ipython-sql
!pip install pandas

import pandas as pd
import sqlalchemy
import sqlite3


%load_ext sql
%sql sqlite://

# Create Data

In [ ]:
data = pd.read_csv (r'./owners.csv')
df = pd.DataFrame(data, columns= ['ownerid', 'name', 'age'])
conn = sqlite3.connect("Any_Database_Name.db")
df.to_sql('owners', conn)

In [ ]:
data = pd.read_csv (r'./cats.csv')
df = pd.DataFrame(data, columns= ['catid', 'owner', 'name', 'breed', 'age'])
df.to_sql('cats', conn)

In [ ]:
df = pd.read_sql("SELECT * FROM owners", conn)
df = df.set_index("ownerid")
df.loc[:,["name", "age"]]

In [ ]:
df = pd.read_sql("SELECT * FROM cats", conn)
df.loc[:,["catid", "owner", "name", "breed", "age"]]

# Practice Questions

CREATE TABLE owners ( <br>
ownerid integer, <br>
name text, <br>
age integer,<br>
PRIMARY KEY (ownerid) breed text,<br>
);
<br>
<br>
CREATE TABLE cats (<br>
catid integer, <br>
owner integer,<br>
name text,<br>
breed text,<br>
age integer,<br>
PRIMARY KEY (catid),<br>
FOREIGN KEY (owner) REFERENCES owners<br>
);

### 1) Write a SQL query to figure out the number of cats, over the age of 6, of each breed of cat.

In [ ]:
query = """

"""

df = pd.read_sql(query, conn)
df

### 2) Write a SQL query to figure out the number of cats each owner owns for owners whose id is greater than 10.

In [ ]:
query = """

"""

df = pd.read_sql(query, conn)
df

### 3) Write a SQL query to figure out the name of the one cat owner who owns the most cats.

In [ ]:
query = """

"""

df = pd.read_sql(query, conn)
df

### 4) Write a SQL query to get the Maine Coons (a cat breed) with a name that starts with the letter A.

In [ ]:
query = """

"""

df = pd.read_sql(query, conn)
df

### 5) Write a SQL query to create an almost identical table as cats, except with an additional column ’Nickname’ that has the value ’Kitten’ for cats less than or equal to the age of 1, ’Catto’ for cats between 1 and 8, and ’Wise One’ for cats older than or equal to 8.

In [ ]:
query = """

"""

df = pd.read_sql(query, conn)
df