# Setup

In [1]:
!pip install ipython-sql

import pandas as pd
import sqlalchemy
import sqlite3


%load_ext sql
%sql sqlite://

Requirement already satisfied: ipython-sql in c:\users\19099\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\users\19099\anaconda3\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: prettytable<1 in c:\users\19099\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\19099\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\19099\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\19099\anaconda3\lib\site-packages (from ipython-sql) (1.3.18)
Requirement already satisfied: ipython>=1.0 in c:\users\19099\anaconda3\lib\site-packages (from ipython-sql) (7.16.1)
Requirement already satisfied: pickleshare in c:\users\19099\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\19099\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\19099\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: pygments in c:\users\19099\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\19099\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (49.2.0.post20200714)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\19099\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: backcall in c:\users\19099\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.10 in c:\users\19099\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\19099\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\19099\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\19099\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

# Create Data

In [3]:
data = pd.read_csv (r'./owners.csv')
df = pd.DataFrame(data, columns= ['ownerid', 'name', 'age'])
conn = sqlite3.connect("Any_Database_Name.db")
df.to_sql('owners', conn)

ValueError: Table 'owners' already exists.

In [13]:
df = pd.read_sql("SELECT * FROM owners", conn)
df = df.set_index("ownerid")
df.loc[:,["name", "age"]]

             name  age
ownerid
1           Daryl   20
2             Mil   21
3            Eric   20
4           Jihee   21
5             Sue   21
6           Vicky   21
7            Andy   20
8           Cindy   20
9           Aryan   20
10          Kelly   21
11          Carol    5
12           Eric   21
13       Steffany   21
14         Austin   20
15        Tiffany   21

In [14]:
df = pd.read_sql("SELECT name FROM owners", conn)
df

        name
0      Daryl
1        Mil
2       Eric
3      Jihee
4        Sue
5      Vicky
6       Andy
7      Cindy
8      Aryan
9      Kelly
10     Carol
11      Eric
12  Steffany
13    Austin
14   Tiffany